<head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

    {% load static %}
    <script src="{% static 'js/cart.js' %}"></script>
    <script>
      window.addEventListener("load", function () {
        load_cart_item_count("{% url "items:my_cart_count_json" %}");
      });
    </script>
    {% block head %}{% endblock head %}
    
    <title>{% block title %}My Store{% endblock  %}</title>
    </head>


<p><a href="{% url "items:items_list" %}">Items</a></p>
{% if request.user.is_authenticated %}
<form method="post" action="{% url "account:logout" %}">
    {% csrf_token %}
    <input type='submit' value="Logout"/>
</form>
<p><a href="{% url "account:cutomer_profile_set" %}">My Profile</a></p>
<p><a href="{% url "account:provider_profile_create" %}">Register a provider</a></p>
<p><a href="{% url "account:my_provider_profiles_list" %}">My registered providers</a></p>
<p><a href="{% url "items:item_create" %}">Submit An Item</a></p>
<p><a href="{% url "items:current_user_cart" %}">
  My Cart <b id="cart_count"></b>
</a></p>
<p><a href="{% url "orders:user_orders_list" %}">My Orders</a></p>
{% else %}
<p><a href="{% url "account:login" %}">Log in</a></p>
<p><a href="{% url "account:signup" %}">Sign up</a></p>
{% endif %}
<p>______________________________</p>
{% block content %}

{% endblock content %}