{% extends "base.html" %}
{% block title %}Items{% endblock title %}
{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
    </tr>
{% for item in items %}
<tr>
    <td><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
    {% if item.category %}
    <td><a href="{% url "items:items_list" %}?cat={{ item.category.slug }}">{{ item.category }}</td>
    {% else %}
    <td>None</td>
    {% endif %}
    
    {% comment %} <td>{{ item }}</td> {% endcomment %}
</tr>
{% endfor %}
</table>
{% endblock content %}