{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}My Cart{% endblock title %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Qauntity</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
{% for cart_item in cart_items %}
<tr>
    <td><a href="{{ cart_item.item.get_absolute_url }}">{{ cart_item.item }}</a></td>
    <td class="itemquantity">{{ cart_item.quantity }}</td>
    <td>
        <form class="d-flex" method="post" action="{% url "items:update_cart_item" cart_item.item_id %}" onsubmit="update_shopping_cart_item(event);">
            {% csrf_token %}
            <input class="form-control text-center me-3" type="num" min="1" name="quantity" value="{{ cart_item.quantity }}" style="max-width: 3rem"/>
            {% bootstrap_button button_type="submit" content="Update" %}
        </form>

        <div class="toast cart-error">
            <div class="toast-header">
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
            <p>Something went wrong!</p>
            </div>
        </div>
    </td>
    <td>
        <form method="post" action="{% url 'items:delete_from_cart' cart_item.item_id %}" onsubmit="delete_from_shopping_cart(event);">
            {% csrf_token %}
            {% bootstrap_button button_type="submit" button_class="btn-danger" content="Remove" %}
        </form>
    </td>
</tr>
{% endfor %}
</table>
<p><a class='btn btn-primary' href="{% url "orders:place_order" %}">Place order</a></p>

        </div>
    </div>
</section>
{% endblock content %}