{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans "Provier Profile" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-xl-4">
        <form method="post">
            {{ form.non_field_errors }}
            {% bootstrap_form form %}
            {% csrf_token %}
            {% trans "Submit" as submit_trans %}
            {% bootstrap_button button_type="submit" content=submit_trans %}
        </form>
    </div>
</div>
{% endblock content %}