{% extends "base.html" %}

{% block title %}My Providers{% endblock title %}

{% block content %}
<table>
    <tr>
        {% comment %} <th>Official Name</th> {% endcomment %}
        <th>Name</th>
        <th>Social Code</th>
        <th>Is verified?</th>
        <th>Delete</th>
    </tr>
{% for provider in profiles %}
<tr>
    <td><a href="{% url "account:provider_profile_update" provider.id %}">{{ provider }}</a></td>
    {% comment %} <td>{{ provider.official_name }}</td> {% endcomment %}
    {% comment %} <td>{{ provider.name }}</td> {% endcomment %}
    <td>{{ provider.social_code }}</td>
    <td>{{ provider.is_verified }}</td>
    <td>
        <form action="{% url "account:provider_profile_delete" provider.id %}" method="post">
            {% csrf_token %}
            <input type='submit' value='Delete'/>
        </form>
    </td>
</tr>
{% endfor %}
</table>
{% endblock content %}