{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans "My Providers" %}{% endblock title %}

{% block content %}
<section class="py-5">
    <div class="mx-auto container mt-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <table class="table table-hover">
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Social Code" %}</th>
                        <th>{% trans "Is verified?" %}</th>
                        <th>{% trans "Delete" %}</th>
                    </tr>
                    {% trans "Delete" as delete_trans%}
                    {% for provider in profiles %}
                    <tr>
                        <td><a href="{% url "account:provider_profile_update" provider.id %}">{{ provider }}</a></td>
                        <td>{{ provider.social_code }}</td>
                        <td>{{ provider.status }}</td>
                        <td>
                            <a href="{% url "account:provider_profile_delete" provider.id %}">

                                {% bootstrap_button button_class="btn-danger" content=delete_trans %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}