{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock title %}
{% block content %}
<div class="row">
    <div class="mx-auto col-xl-4">
        <form method="post">
            {{ form.non_field_errors }}
            {% bootstrap_form form %}
            {% csrf_token %}
            {% trans "Sign up" as sign_up_trans %}
            {% bootstrap_button button_type="submit" content=sign_up_trans %}
            
        </form>
    </div>
</div>
{% endblock content %}
