{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Order {{ order }}{% endblock title %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Qauntity</th>
                    <th>Price</th>
                </tr>
            {% for order_item in order.order_items.all %}
            <tr>
                <td><a href="{{ order_item.item.get_absolute_url }}">{{ order_item.item }}</a></td>
                <td>{{ order_item.quantity }}</td>
                <td>${{ order_item.item.price }}</td>
            </tr>
            {% endfor %}
            </table>
            <p><h2>Total Price: ${{ order.get_total_price }}</h2></p>
            <p><h2>Status: {{ order.get_status_display }}</h2></p>
            {% if order.status == "PN" %}
            <p><a class="btn btn-primary" href="{% url "payment:start" order.id %}">Checkout</a></p>
            <p>
                <form method='post' action="{% url "orders:order_cancel" order.id %}">
                    {% csrf_token %}
                    {% bootstrap_button button_class="btn-danger" button_type="submit" content="Cancel" %}
                </form>
                {% comment %} <a class="btn btn-danger" href="{% url "orders:order_cancel" order.id %}">Cancel</a> {% endcomment %}
            </p>
            {% endif %}

        </div>
    </div>
</section>



{% endblock content %}