{% extends "base.html" %}

{% block title %}{{ item }}{% endblock title %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if item.image %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.image.url }}" alt="..." /></div>
            {% else %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            {% endif %}
            
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ item.generate_sku }}</div>
                <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
                {% if item.category %}
                <p><a href="{% url "items:items_list" %}?cat={{ item.category.slug }}">{{ item.category }}</a></p>
                {% endif %}
                <div class="fs-5 mb-5">
                    <span>${{ item.price }}</span>
                </div>
                <p class="lead">{{ item.description }}</p>
                <p>
                    <a href="#item_properties" class="btn btn-outline-dark" data-bs-toggle="collapse">More Info</a>
                    <div id="item_properties" class="collapse">
                        <table class="table table-borderless">
                            <tbody>
                                {% for k, v in item.properties.items %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td>{{ v }}</td>
                                </tr>
                                {% endfor %}
                              
                            </tbody>
                          </table>
                    </div>
                </p>
                {% if request.user.is_authenticated %}
                <div class="d-flex">
                    {% if already_in_cart %}
                    <p>Item already in shopping cart</p>
                    {% else %}
                    <form class="d-flex" method="post" action="{% url "items:add_to_cart" item.id %}" onsubmit="add_to_shopping_cart(event);">
                        {% csrf_token %}
                        <input class="form-control text-center me-3" id="id_quantity" type="num" min="1" name="quantity" style="max-width: 3rem" value="{{ cart_item.quantity }}"/>
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div>
                    {% if item.submitted_by == request.user %}
                        <p><a href="{% url "items:item_update" item.id %}"><button class="btn btn-warning">Edit</button></a></p>
                        <p><a href="{% url "items:item_delete" item.id %}"><button class="btn btn-danger">Delete</button></a></p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}