{% extends "base.html" %}

{% block title %}{{ item }}{% endblock title %}

{% block content %}
<p>{{ item.name }}</p>
<p>{{ item.description }}</p>
{% if item.category %}
<p>Category: {{ item.category }}</p>
{% endif %}
<p>Properties: {{ item.properties }}</p>
<p>Price: {{ item.price }}</p>
<p>Remaining: {{ item.remaining_items }}</p>

{% if request.user.is_authenticated %}
    <p>
        {% if already_in_cart %}
        <p>Item already in shopping cart</p>
        {% else %}
        <div id="addtocartform">
            <form method="post" action="{% url "items:add_to_cart" item.id %}" onsubmit="add_to_shopping_cart(event);">
                {% csrf_token %}
                {{ shopping_cart_form }}
                <input type='submit' Value="Add to Cart" />
            </form>
        </div>
        {% endif %}
        
    </p>
    {% if item.submitted_by == request.user %}
        <p><form method="get" action="{% url "items:item_update" item.id %}"><input type='submit' Value="Edit"/></form></p>
        <p><form method="get" action="{% url "items:item_delete" item.id %}"><input type='submit' Value="Delete"/></form></p>
    {% endif %}
{% endif %}

{% endblock content %}