{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Form{% endblock title %}

{% block head %}
<script src="{% static 'js/item.js' %}"></script>
<script type="module" src="{% static 'js/item_form_properties.js' %}"></script>
<script>
    window.addEventListener("load", load_current_user_provider_profiles_into_selector);
</script>
{% endblock head %}


{% block content %}
<div class="row">
    <div class="mx-auto col-xl-4">
            <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% bootstrap_form form %}
            <table class="table-borderless" id="props_table" style='display:none;'>
                <thead>
                    <tr id="props_first_row">
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Value" %}</th>
                        <th>{% trans "Delete" %}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr id="props_last_row">
                        <td></td>
                        <td>
                            <button class="btn btn-success" id="props_new_button"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {% trans "Submit" as submit_trans %}
            {% bootstrap_button button_type="submit" content=submit_trans %}
            </form>
    </div>
</div>
{% endblock content %}