{% extends "base.html" %}

{% block head %}
{% load static %}
<script src="{% static 'js/item.js' %}"></script>
<script src="{% static 'js/item_form_properties.js' %}"></script>
<script>
    window.addEventListener("load", load_current_user_provider_profiles_into_selector);
    window.addEventListener("load", initialSetup);
</script>
{% endblock head %}


{% block content %}
<form method='post'>
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.as_p }}
<table id="props_table" style='display:none;'>
    <thead>
        <tr id="props_first_row">
            <th>Name</th>
            <th>Value</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr id="props_last_row">
            <td></td>
            <td>
                <button id="props_new_button" onclick="addPropButtonPressed(event);">New</button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<input type='submit' value="Submit"/>
</form>
{% endblock content %}