{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock title %}

{% block head %}
<script src="{% static 'js/search_form.js' %}"></script>
<script src="{% static 'js/sidebars.js' %}"></script>
<link href="{% static "css/sidebars.css" %}" rel="stylesheet">
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const navLinks = document.getElementsByClassName("nav-link");
        for (const navLink of navLinks) {
            if (navLink.innerHTML === "{% trans "Search" %}")
            navLink.classList.add("active");
        }
    });
    
</script>
{% endblock head %}

{% block content %}
<main class="d-flex flex-nowrap">
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <a href="#" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">{% trans "More Options" %}</span>
    </a>
    <ul class="list-unstyled ps-0 scrollarea">
        <li class="mb-1">
            <button id="filters-button" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#more-options-collapse" aria-expanded="false">
              {% trans "Filters" %}
            </button>
            <div class="collapse" id="more-options-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <div id="filters_section" class="p-2">
                    <div id="filtersContainer" class="list-group-item list-group-item-action active py-3 lh-sm">
                    </div>
                    <!-- Add Filter Button -->
                    <button type="button" id="addFilter" class="btn btn-secondary mb-3">{% trans "Add Filter" %}</button>
                </div>
              </ul>
            </div>
      </li>
      <li class="mb-1">
        <button id="price-range-button" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#price-range-collapse" aria-expanded="false">
          {% trans "Price Range" %}
        </button>
        <div class="collapse" id="price-range-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <div class="p-2 d-flex w-100 align-items-center justify-content-between">
              <div class="col">
                <input id="min-price" step=".01" type="number" class="form-control" placeholder="Min Price">
              </div>
              <div class="col">
                <input id="max-price" step=".01" type="number" class="form-control" placeholder="Max Price">
              </div>
              
            </div>
          </ul>
        </div>
      </li>
    </ul>
  </div>

<div class="container mt-1">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="p-3 py-4">
                    <form id="searchForm" method="get" class="row g-3 mt-2">
                        <div class="col-md-3">
                            <select name="category" class="form-select" id="categories_dropdown">
                                <option value="">{% trans "All" %}</option>
                                {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input id="search_query" name="q" type="text" class="form-control" placeholder="...">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary">{% trans "Search" %}</button>
                        </div>
                    </form>
                	{% for item in items  %}
                    <p><a href="{{ item.get_absolute_url }}">{{ item }}</a></p>
                    {% endfor %}				
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}